table {
  width: 100%;
}

.mat-row:nth-child(even) {
  background-color: #ebebeb;
}

.mat-row:hover {
  background-color: #dbf1ff;
  cursor: pointer;
}

.price-column-header {
  vertical-align: super;
}

.refresh-button {
  margin-left: 15px;
  margin-top: 10px;
}
