<mat-toolbar>
  <button mat-stroked-button class="menu-button"
    [routerLink]="[Route.LIST]">
    <i class="material-icons">
      list
    </i>
    List
  </button>

  <button mat-stroked-button class="menu-button"
    [routerLink]="[Route.DETAILS]"
    [disabled]="((selectedCryptocurrency$ | async) | json) == ({} | json)">
    <i class="material-icons">
      details
    </i>
    Details
  </button>

  <button mat-stroked-button class="menu-button"
    [routerLink]="[Route.SETTINGS]">
    <i class="material-icons">
      settings
    </i>
    Settings
  </button>

  <span *ngIf="(currentRoute$ | async) !== '/' + Route.SETTINGS">{{(fiatState$ | async).currency}}</span>
</mat-toolbar>
